@import "../library.blocks/mdbootstrap/colors";

@import "page-header/page-header";
@import "who-we-are/who-we-are";
@import "about/about";
@import "features/features";
@import "partnerships/partnerships";
@import "team/team";
@import "media/media";
@import "contacts/contacts";
@import "page-footer/page-footer";
@import "icon/icon";

.fp-controlArrow.fp-prev {
	border-right-color: rgba(0,0,0,.1);
	margin-left: -100px;
}
.fp-controlArrow.fp-next {
	border-left-color: rgba(0,0,0,.1);
	margin-right: -100px;
}
.fab,
.fas {
	vertical-align: middle;
	margin-right: .5rem;
}

.lead {
	opacity: .8;
}


.bg-light {
	background-color: #ECEFF1!important;
	animation: animatedBgLight 1s ease infinite;
}
.card {
	box-shadow: 0 1px 1px 0 rgba(60,64,67,.08), 0 1px 3px 1px rgba(60,64,67,.16);
	transition: box-shadow 135ms cubic-bezier(.4,0,.2,1),width 235ms cubic-bezier(.4,0,.2,1);
	&:hover {
		box-shadow: 0 1px 3px 1px rgba(60,64,67,.2), 0 2px 8px 4px rgba(60,64,67,.1);
	}
}

@keyframes animatedBgLight {
	0% { background-color: #ECEFF1!important; }
	50% { background-color: #fff!important; }
}

@media (max-width: 991px) {
	.fp-section {
		height: initial!important;
	}
}