body {
  position: relative;
  .fixed-bg {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    filter: hue-rotate(24deg) brightness(.36);
    z-index: -1;
  }
}
.section {
  background-color: #fff;
}
.who-we-are {
  &.section {
    background-color: transparent;
  }
  .container {
    z-index: 1;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 4rem;
  }
}