.media {
  .slick-dots {
    bottom: -30px;
  }
  .slick-slide {
    transition: .7s ease;
  }
  .slick-center {
    transform: scale(1.02);
  }
}
.media__image {
  display: block;
  height: 200px;
  background-size: cover;
}